<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cherry Planner</title>

  <link rel="icon" href="/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  {{!-- hidden links for navigation accessibility  --}}
  <a class="screen-reader screen-reader-focusable" href="#currentDay">Skip to the date</a>
  <a class="screen-reader screen-reader-focusable" href="#planner">Skip to day planner </a>
  <a class="screen-reader screen-reader-focusable" href="#footer">Skip to the footer</a>

  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1>🍒 Cherry Planner</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {{#if loggedIn}}
           <li class="nav-item">
            <div class="nav-link active">Hi {{ activeUser }}, you're going to rock the day!</div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="logout" href="/logout">Log out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link active" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login">Log in</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <main>
      {{{ body }}}
  </main>

  <nav class="footer navbar-fixed-bottom">
      <div class="container">
        <footer id="footer" class="py-3 my-4" tabindex="-1">
          <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2" role="link">Home</a></li>
            {{!-- <li class="nav-item"><a href="https://fontmeme.com/" class="nav-link px-2">Font graphics from Font Meme </a></li> --}}
            <li class="nav-item"><a href="https://github.com/jhugray/cherryplanner" class="nav-link px-2">About</a></li>
            {{!-- <li class="nav-item">© 2022 Cherry Planner</li> --}}
            <li class="nav-item"><a href="linkedin.com/in/jess-hause-ugray" class="nav-link px-2">Made by Jess Hause Ugray</a></li>
          </ul>
        </footer>
      </div>
  </nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>