 <div class="parallax"></div>
  
      <div class="background">
        <div class="container">

          <ul class="list-group col-sm-10 to-do" id="calItem">

            <li class="list-group-item">
              <div class="col-sm-1">
                5am
              </div>
              <input type="text" id="05" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
                <div class="col-sm-1">
                  6am
                </div>
                <input type="text" id="06" placeholder="Things to do" class="col-sm-8">
                <button class="">
                  save
                </button>
            </li>
  
            <li class="list-group-item">
              <div class="col-sm-1">
                7am
              </div>
              <input type="text" id="07" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>
  
            <li class="list-group-item">
              <div class="col-sm-1">
                8am
              </div>
              <input type="text" id="08" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                9am
              </div>
              <input type="text" id="09" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                10am
              </div>
              <input type="text" id="10" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                11am
              </div>
              <input type="text" id="11" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                12pm
              </div>
              <input type="text" id="12" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                1pm
              </div>
              <input type="text" id="13" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                2pm
              </div>
              <input type="text" id="14" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                3pm
              </div>
              <input type="text" id="15" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                4pm
              </div>
              <input type="text" id="16" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                5pm
              </div>
              <input type="text" id="17" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                6pm
              </div>
              <input type="text" id="18" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                7pm
              </div>
              <input type="text" id="19" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                8pm
              </div>
              <input type="text" id="20" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                9pm
              </div>
              <input type="text" id="21" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>

            <li class="list-group-item">
              <div class="col-sm-1">
                10pm
              </div>
              <input type="text" id="22" placeholder="Things to do" class="col-sm-8">
              <button class="">
                save
              </button>
            </li>
          
          </ul>   

        </div>
      </div>
      

      <div class="parallax"></div>
   
<script src="/js/calendar.js"></script>

 