<section class="sign-in-body" >
  <form class="form-signup">
    <img class="mb-4" src="http://cdn.shopify.com/s/files/1/1061/1924/products/Cherry_Emoji_grande.png?v=1571606034" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
    <input type="username" class="form-control" id="floatingUsername" placeholder="Username">
    <label for="floatingUsername">Username</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
      <label for="floatingEmail">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</section>

<script src="/js/signup.js"></script>
