 .parallax {
  /* The image used */
  /* background-image: url("https://images.unsplash.com/photo-1532381523761-96107c2f2e6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1465120846441-761b22f43328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");

  /* background-image: url("https://images.unsplash.com/photo-1560772336-0a9953caf5b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"); */
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
 background-image: url("https://images.unsplash.com/photo-1465120846441-761b22f43328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
 background-attachment: fixed;
 background-position:bottom;
 background-repeat: no-repeat;
 background-size: cover;
}

nav {
  /* background-color: #EF5350; */
  background-color: #4C0202;
}



.card {
  padding: 20px;
  margin: 20px; 
}

li {
  margin: 10px;
  border-radius: 5px;
}

.red {
  background-color: #A30000;
}

/* signup login pages */
/* html,
body {
  height: 100%;
} */

.sign-in-body {
  /* display: flex; */
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-login .form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#currentDay {
  text-align: center;
  background: white;
  border-radius: 8px;
}


.dayButton {
  background-color:#A30000;
  color: white;
  border-radius: 10px;
}

.footer {
  background-color: #A30000;
  color: white;
}

.footer a {
  color: white;
}
